* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --first-color: #fff;
    --second-color: #000;
    --third-color: #BBAFA6;
    --fourth-color: #4C6A6E;
    --fifth-color: #C7ACA7;    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--first-color);
    color: var(--second-color);
}

/* Header and Navigation Section */
header {
    background-color: var(--second-color);
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

header a {
    color: var(--first-color);
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 15px;
    font-size: 18px;
}

header nav a {
    padding: 10px;
    border-radius: 5px;
}

header nav a:hover {
    background-color: var(--first-color);
    color: var(--second-color);
    padding: 10px;
    border-radius: 5px;
}

/* About Section */
main {
    display: flex;
    flex-wrap: wrap;
}

.about-me {
    padding: 10px 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about-me img {
    width: 25%;
    height: 25%;
    border-radius: 300px;
}

.about-content {
    display: flex;
    flex-direction: row;
}

.about-text {
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 0;
}

.about-details {
    display: flex;
    padding: 15px 0 0 0;
}

/* .about-content {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
} */

/* .about-content img {
    width: 20%;
    border-radius: 300px;
    /* box-shadow: 5px 5px 10px 15px grey;
} */

/* .about-text {
    padding: 0 30px 0 0;
}

.about-additional {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
} */

/* Work Section */
.my-work {
    padding: 10px 35px;
}

.first-row {
    text-align: center;
    padding: 15px 0;
}

.first-row img {
    width: 80%;
} 

.second-row img {
    width: 100%;
}

.second-row {
    display: flex;
    flex-wrap: nowrap;
}

.project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.left-project {
    padding: 25px 15px 0 0;
}

.right-project {
    padding: 25px 0 0 15px;
}

.border {
    border: 1px solid gray;
}

.project-link {
    color: var(--fourth-color);
}

.github-link {
    color: var(--fourth-color);
    text-decoration: none;
}

/* Contact Section */
.contact-me {
    padding: 10px 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.contact-me ul {
    list-style: none;
}

.contact-me ul li a {
    text-decoration: none;
    color: var(--third-color);
    padding: 10px;
    border-radius: 5px;
}

.contact-me ul li a:hover {
    background-color: var(--second-color);
    color: var(--first-color);
    padding: 10px;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: var(--second-color);
    color: var(--first-color);
    padding: 20px 35px;
}

footer p {
    font-size: 12px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        gap: 15px;
        font-size: 20px;
    }

    .about-content img {
        width: 40%;
        padding: 0 0 10px 0;
    }

    .contact-me ul {
        font-size: 18px;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .about-content {
        padding: 10px 35px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .about-content img {
        width: 50%;
        padding: 0 0 10px 0;
    }

    .about-details {
        display: flex;
        padding: 15px 0 0 0;
        flex-direction: column;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    header {
        background-color: var(--second-color);
        padding: 20px 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        align-content: center;
    }

    header nav ul {
        padding: 5px 0 0 0;
    }

    .about-content {
        padding: 10px 0;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .about-content img {
        width: 70%;
        padding: 0 0 10px 0;
    }

    .about-details {
        display: flex;
        flex-direction: column;
        padding: 15px 0 0 0;
    }

    .first-row img {
        width: 100%;
    }

    .second-row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .project {
        width: 100%;
        padding: 0 0 10px 0;
    }

    .contact-me {
        padding: 10px 35px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
    }

    .contact-me ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-me ul li {
        padding: 4px;
    }

}